html, body {
    font-size: 4px;
    font-family: sans-serif;
}

.big-background{
    background-color: #f1f5f6;
    display: flex;
    height: 205rem;
}
.down-arrow-image{
    background-image: url(arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3rem;
    order: 4;
    padding-left: 10rem;
    width: 5rem;
}
.lock-image{
    background-image: url(candado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    order: 1;
    width: 4rem;
}
.title{
    color: rgba(0, 160,155,255);
    font-size: 6rem;
    /*position: relative;*/
}
.subtitle{
    color: rgba(189,189,189,221);
    font-size: 4rem;
    padding-left: 10rem;
    padding-top: 1rem;
    /*position: relative;*/
}
.passwords{
    color: rgba(0,196,192,255);
    font-size: 3rem;
    order: 2;
    padding-left: 2rem;
    /*position: relative;*/
}
.username{
    color: rgba(0,160,155,255);
    font-size: 5rem;
    order: 3;
    padding-left: 18rem;
    /*position: relative;*/
}
.header{
    display: flex;
    justify-content: space-between;
    height: 25rem;
}

.info{
    align-items: center;
    display: flex;
    order: 1;
    padding-left: 10rem;

}

.user-info{
    align-items: center;
    display: flex;
    order: 2;
}

.packs{
    background-color: white;
    border-radius: 5rem;
    height: 166rem;
    margin-top: 13rem;
    margin-left: 12rem;
    order: 1;
    width: 78rem;
}
.packs-title{
    color: grey;
    font-size: 3rem;
    padding-left: 11rem;
    padding-top: 9rem;
}
.grade-name{
    font-size: 3rem;
    padding-left: 11rem;
    padding-top: 9rem;
}

.selected{
    color: rgba(0, 160,155,255);
    font-weight: bold;
    text-decoration: underline;
}
.line{
    border-bottom: 0.5rem solid grey;
    padding-top: 8rem;
}

.new-pack-title{
    color: rgba(0,160,155,255);
    font-size: 3rem;
    order: 1;
    padding-left: 11rem;
    padding-top: 11rem;
}

.new-pack-input{
    order: 2;
    position: relative;
}

.new-pack-field{
    color: rgba(192,192,192,255);
    font-size: 3rem;
    margin-left: 12rem;
    margin-top: 9rem;
    position: absolute;
    z-index: 2;
}

.new-pack-color{
    background-color: rgb(240,240,240);
    border-radius: 15rem;
    height: 12rem;
    margin-left: 7rem;
    margin-top: 5rem;
    position: absolute;
    width: 50rem;
    z-index: 1;
}
.new-pack-symbol{
    background-image: url(arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 13rem;
    margin-left: 60rem;
    margin-top: 5rem;
    width: 13rem;
    z-index: 3;
}

.new-packs{
    display: flex;
    flex-direction: column;
}

.books{
    display: flex;
    flex-direction: column;
    order: 2;
}
.books-content{
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
}
.book-header{
    display: flex;
    margin-left: 23rem;
    margin-top: 17rem;
}
.grade-title{
    order: 1;
    font-size: 8rem;
    padding-right: 7rem;
}
.book-symbol{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    order: 2;
    padding-top: 3rem;
    width: 6rem;
}
.delete-symbol{
    background-image: url(borrar.png);
}
.write-symbol{
    background-image: url(lapiz.png);
    margin-left: 4rem;
    margin-right: 2rem;
}
.book-buttons{
    width: 65%;
    font-size: 2rem;
    order: 3;
    position: relative;
}
.new-button-text{
    color: white;
    font-size: 3rem;
    padding-top: 5rem;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
}

.new-book-text{
    padding-left: 17rem;
}

.new-category-text{
    padding-left: 72rem;
}

.new-background{
    border-radius: 15rem;
    height: 12rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 12rem;
    position: absolute;
    width: 52rem;
    z-index: 1;
}

.green{
    background-color: #00bc5d;
    right: calc(52rem + 5px + 10px);
}
.teal{
    background-color: #00bcb7;
    right: 5px;
}

.book-languages{
    background-color: #f1f5f6;
    display: flex;
    margin-left: 23rem;
}

.book-language{
    padding-top: 5rem;
    padding-right: 12rem;
    font-size: 3rem;
    order: 2;
}
/*
.book{
    background-image: url(candado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    margin-left: 60rem;
    order: 2;
    padding-top: 3rem;
    width: 6rem;
    z-index: 50;
}
 */

.book {
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 2rem;
    margin-right: 10rem;
    overflow: hidden;
    width: 226px;
}

.first-book{
    margin-left: 21rem;
}

.book-image {
    background-position: center;;
    background-size: cover;
    height: 70rem
}

.book-footer {
    background: white;
    padding: 16px;
    position: relative;
}

.book-title {
    color: #019c97;
    font-size: 3rem;
    font-weight: bold;
}

.book-size {
    color: #777777;
    font-size: 3rem;
}

.book-actions {
    bottom: 0;
    height: 14rem;
    position: absolute;
    right: 0;
    width: 12rem;
}

.white-line{
    border-bottom: 1px solid #d7e1e1;
    padding-top: 5rem;
}
